<div class="md:w-4/12 mt-2 p-7 shadow-lg mx-auto">
    <h3 class="text-2xl text-center font-semibold py-4">Register</h3>
    <form [formGroup]="registerForm" class="flex flex-col">
        <div class="flex flex-col mt-1 mb-1">
          <input formControlName="firstName" class="p-2 border text-sm border-gray-300 rounded" type="text" placeholder="FirstName">
          <span *ngIf="registerForm.hasError('required','firstName') && registerForm.controls['firstName'].dirty" class="text-red-500">#FirstName is required</span>
        </div>
        <div class="flex flex-col mt-2 mb-1">
           <input formControlName="lastName" class="p-2 border border-gray-300 rounded" type="text" placeholder="LastName">
           <span *ngIf="registerForm.hasError('required','lastName') && registerForm.controls['lastName'].dirty" class="text-red-500">#LastName is required</span>
        </div>
        <div class="flex flex-col mt-2 mb-1">
           <input formControlName="email" class="p-2 border border-gray-300 rounded" type="text" placeholder="Email">
           <span *ngIf="registerForm.hasError('required','email') && registerForm.controls['email'].dirty" class="text-red-500">#Email is required</span>
           <span *ngIf="registerForm.hasError('email','email')" class="text-red-500">Email is invalid</span>
        </div>
        <div class="flex flex-col mt-2 mb-1">
           <input formControlName="username" class="p-2 border border-gray-300 rounded" type="text" placeholder="UserName">
           <span *ngIf="registerForm.hasError('required','username') && registerForm.controls['username'].dirty" class="text-red-500">#Username is required</span>
        </div>
        <div class="flex flex-col mt-2 mb-1">
           <input formControlName="password" class="p-2 border border-gray-300 rounded" type="text" placeholder="Password">
           <span *ngIf="registerForm.hasError('required','password') && registerForm.controls['password'].dirty" class="text-red-500">#Password is required</span>
        </div>
        <div class="flex flex-col mt-2 mb-1">
           <input formControlName="confirmPassword" class="p-2 border border-gray-300 rounded" type="text" placeholder="Confirm Password">
           <span *ngIf="registerForm.hasError('required','password') && registerForm.controls['password'].dirty" class="text-red-500">#Confirm Password is required</span>

        </div>   
        <button (click)="register()" [disabled]="registerForm.invalid"  [class.disabled]="registerForm.invalid" class="bg-indigo-500 p-1.5 rounded mt-3 text-white">Submit</button>
   </form>
    <div class="flex justify-center mt-4">
        <span>Already Have Account</span> <a class="text-indigo-600 ml-2 cursor-pointer">Login Here</a>
    </div>
</div>    
